@media only screen and (min-width:767px) {
    .scrolltop {
        display: block;
    }
}

@media only screen and (min-width:320px) and (max-width:767px) {
    div#quickview_modal {
        z-index: 9999;
        top: 100px;
    }

    .mini-close-cart {
        display: block;
    }

    .mobile-bar {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mobile-bar .toggle {
        display: block;
        position: relative;
        cursor: pointer;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .quick_view_img {
        height: auto;
    }

    .fixed_whats a {
        position: fixed;
        bottom: 10px;
        left: 10px;
    }

    .cart-toggle-btn {
        display: block;
        position: fixed;
        right: 0;
        z-index: 999;
        bottom: 10px;
        border-radius: 5px;
        overflow: hidden;
    }

    .cart-toggle-btn button {
        width: 100%;
    }

    .mobile-cart-toggle {
        background-color: var(--primary-color);
        border: 1px solid;
        border-color: var(--primary-color);
        border-radius: 5px;
        min-width: 250px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
    }

    .mobile-cart-toggle-info .items {
        font-size: 14px;
        font-weight: 500;
        color: #fff;
        text-align: left;
        line-height: 18px;
    }

    .mobile-cart-toggle-info .price {
        font-size: 14px;
        font-weight: 500;
        color: #fff;
        line-height: 18px;
    }

    .mobile-cart-toggle .view-cart {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .mobile-cart-toggle .view-cart span,
    .mobile-cart-toggle .view-cart i {
        color: #fff;
    }

    .mini-cart-wrapper {
        height: 100vh;
        position: fixed;
        top: 0px;
        z-index: 10001;
        margin: 0;
        width: 350px;
        right: -350px;
    }

    .mini-cart-wrapper.active {
        right: 0;
    }

    div#page-overlay {
        background-color: rgba(0, 0, 0, 0.2);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9999;
        display: none;
    }

    .mini-cart-body {
        padding: 0 15px;
    }

    .scrolltop {
        display: none;
    }

    .section-padding {
        padding: 30px 0;
    }

    .menu-tab-inner {
        padding: 0px;
    }

    .mobile-header.fixed-top {
        top: -40px;
        transform: translateY(40px);
        transition: transform 1s;
        z-index: 9999;
    }

    .mobile-search.fixed-top {
        top: 0px;
        transform: translateY(70px);
        transition: transform 1s;
        position: fixed;
    }

    ul.mobile-menu-auth {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding-top: 20px;
        background-color: #f1f1f1;
        padding-bottom: 20px;
    }

    .mobile-menu {
        width: 300px;
        left: -300px;
        position: fixed;
        top: 0;
        z-index: 99999;
        background-color: #fff;
        height: 100vh;
        transition: all 0.3s ease;
        overflow-y: auto;
        display: block;
    }

    .mobile-menu.active {
        left: 0;
    }

    .mobile-menu-logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #ddd;
        padding: 10px 15px;
    }

    .logo-image img {
        height: 40px;
        width: auto;
    }

    .mobile-menu-close {
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .mobile-menu-close i {
        font-size: 22px;
    }

    .first-nav .parent-category {
        display: block;
        line-height: 33px;
    }

    .mobile-menu li.parent-category {
        position: relative;
    }

    .first-nav .parent-category .menu-category-name {
        display: block;
        padding: 10px;
        padding-left: 20px;
        text-transform: capitalize;
        font-weight: 600;
        color: #222;
    }

    .side_cat_img {
        width: 20px;
        height: auto;
        margin-right: 5px;
    }

    .mobile-menu span.menu-category-toggle {
        position: absolute;
        right: 0px;
        top: 0px;
        display: flex;
        width: 50px;
        height: 50px;
        justify-content: center;
        align-items: center;
    }

    .main-header {
        display: none;
    }

    .slider-item {
        height: 170px;
    }

    .section-title span {
        font-size: 25px;
        padding-top: 5px;
        margin-bottom: 0px;
    }

    .tab-food-inner {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .menu-food {
        grid-template-columns: 65px 2fr 1fr;
        gap: 5%;
    }

    .menu-img img {
        width: 65px;
        height: 65px;
        border-radius: 50%;
    }

    .home-about-section {
        padding: 120px 0;
    }

    .review-left {
        left: 5px;
        top: 30px;
        width: 55px;
        height: 55px;
    }

    .review-right {
        right: 5px;
        bottom: 10px;
        width: 55px;
        height: 55px;
    }

    .home-reivew-section {
        padding: 80px 0;
    }

    .footer-top {
        padding: 40px 0;
        text-align: center;
    }

    .footer-about {
        padding-right: 0;
    }

    .footer-about p {
        text-align: center;
    }

    .social_link {
        justify-content: center;
    }

    .copyright {
        margin-top: 45px;
    }

    .copyright {
        display: block;
        padding: 0px 20px;
    }

    .border-copyright {
        display: none;
    }

    .footer-menu .title {
        margin-top: 25px;
    }

    .cart_btn a, .cart_btn button {
        width: 95%;
    }

    .section-title {
        margin-top: 5px;
    }

    .cus-order-2 {
        order: 2;
    }

    .cart_details {
        margin-bottom: 25px;
    }

    /*==== PRODUCT IMAGE START====*/
    .pro_img img {
        height: 130px;
    }

    /*==== MOBILE HEADER START====*/
    .mobile-header {
        display: grid;
        grid-template-columns: 1fr 5fr 1fr;
        text-align: center;
        font-size: 16px;
        height: 70px;
        justify-content: space-between;
        width: 100%;
        background: #fff;
        align-items: center;
    }

    .mobile-logo img {
        height: 65px;
    }

    .mobile-search {
        margin-top: 0;
        padding: 8px 10px;
        background-color: #fff;
        position: relative;
        display: block;
    }

    .search_product {
        z-index: 999;
    }

    .mobile-search.active {
        display: block;
    }

    .mobile-search form {
        height: 40px;
        background: #f1f1f1;
        width: 100%;
        margin: 0 auto;
        overflow: hidden;
        display: grid;
        grid-template-columns: auto 12%;
    }

    .mobile-search form input {
        border: none;
        height: 40px;
        width: 100%;
        padding: 0 10px;
        font-size: 14px;
        background-color: var(--background-color);
    }

    .mobile-bar i {
        font-size: 24px;
    }

    .mobile-cart a {
        position: relative;
    }

    .mobile-cart span {
        background: var(--primary-color);
        color: #fff;
        font-size: 12px;
        position: absolute;
        top: -10px;
        right: -13px;
        height: 18px;
        line-height: 18px;
        width: 18px;
        border-radius: 50px;
    }

    .mobile-cart i {
        font-size: 22px;
    }

    /*==== MOBILE HEADER END====*/
    .category-product {
        grid-template-columns: repeat(1, 1fr);
        padding: 0;
    }

    a.wcart-btn.quick_view span {
        display: none;
    }

    a.wcart-btn.quick_view {
        height: 45px;
        width: 45px;
        line-height: 45px;
        padding: 0;
        text-align: center;
    }

    .wishlist_img {
        width: 45px;
        height: 45px;
    }

    .dashboard-box {
        padding: 20px 0;
    }

    .dashboard-box i {
        font-size: 40px;
    }

    .sidebar-menu {
        margin-bottom: 35px;
    }
}

@media only screen and (min-width:767px) and (max-width:991px) {
    .menu-product {
        display: none;
    }

}

@media only screen and (min-width:992px) and (max-width:1140px) {}

@media only screen and (min-width:1141px) {}
