@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Manrope:wght@200..800&display=swap');
canvas#paymentsChart {
    height: 550px !important;
    width: 100% !important;
}
.main-logo img {
    height: 80px;
    object-fit: contain;
}
:disabled{
    cursor: no-drop;
    background: #ddd !important;
}
img {
    width: 100%;
}
body.authentication-bg {
    background: url('../images/login-bg.jpg') !important;
}
.account-pages{
    padding: 80px 0;
}
.admin-logo img {
    width: 160px;
}
.admin-logo {
    background: #fff;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
    padding: 15px 0;
}
.navbar-custom,.content-page {
    margin-left: 260px;
    transition: all 0.3s ease;
}
body[data-leftbar-size="condensed"] .navbar-custom,
body[data-leftbar-size="condensed"] .content-page {
    margin-left: 70px
}
.left-side-menu {
    top: 0 !important;
    padding: 0 !important;
    width: 260px;
    background: #1F1F31;
}
body[data-leftbar-size="condensed"] #sidebar-menu {
    padding: 0px 5px;
}
body[data-leftbar-size="condensed"] .left-side-menu #sidebar-menu > ul > li > a svg {
    width: 16px;
    height: 16px;
    margin-left: 3px;
}
.main-logo {
    margin-top: 20px;
    margin-bottom: 20px;
}
#sidebar-menu  ul li a{
    color : #fff !important;
}
#side-menu li a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ED145B;
    opacity: 0;
    z-index: -1;
    transition: 0.35s all;
}
#side-menu li a.active:before,#side-menu li a:hover:before{
    opacity: 1;
}
.menuitem-active>a[data-bs-toggle="collapse"]::before {
    opacity: 1 !important;
}
.nav-second-level li a::before {
    opacity: 0 !important;
}
.nav-second-level li a:hover::before {
    background: transparent !important;
}
.nav-second-level li a:hover{
    color: #ED145B !important;
}
#sidebar-menu>ul>li ul {
    padding-left: 0;
    list-style: none;
}
.navbar-custom {
    background: #fff;
}
.navbar-custom .topnav-menu .nav-link {
    color: #222;x
}
.nav-user img {
    height: 42px;
    width: 42px;
}
li.dropdown svg {
    height: 16px;
}
li.dropdown a span {
    border: 0;
}
.topnav-menu-left li a {
    padding: 0 5px !important;
}
.navbar-custom .button-menu-mobile {
    color: #222;
}
.float-right{
    float: right;
}

.payment_gateway .tab-content {
    padding: 30px;
    background: #f1f1f1;
    border-radius: 5px;
}

.payment_gateway .nav button {
    border: 1px solid #6658DD;
    margin-bottom: 10px;
}
/*=== websolution it new css end*/

.taka-sign::before {
    content: '৳';
    font-family: "Hind Siliguri", sans-serif;
}
#guest_customer {
    width: 20px !important;
}
.search_result {
    position: relative;
}
 .search_product ul {
    background: #f1f1f1;
    padding: 0;
}

.search_product ul li a{
    cursor: pointer;
}
.search_product ul li {
    display: block;
    list-style: none;
    padding: 5px 15px;
    border-bottom: 1px solid #ddd;
}
.search_product ul li:hover{
    background: #ddd;
}
.search_product ul li p {
    margin: 0 0;
    color: #222;
}

.pos_search {
    display: grid;
    grid-template-columns: auto 50px;
    border-radius: 5px !important;
    overflow: hidden;
}
.pos_search button {
    border: 1px solid #ddd;
}
.pos_search input,.pos_search input:focus {
    border: 1px solid #ddd !important;
    padding: 8px;
    width: 100% !important;
    outline: 0 !important;
}
.search_product {
    max-height: 250px;
    overflow-y: scroll;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}
#cartTable img {
    width: 50px;
    height: 40px;
    border-radius: 5px;
}
.search_product::-webkit-scrollbar {
    width: 5px;
}

.search_product::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.search_product::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px; 
}

.search_product::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.bulkselect {
    border: 1px solid #ddd;
    padding: 2px 0px;
    margin-right: 5px;
    margin-bottom: 14px;
    outline: 0;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #0f52cd !important;
    border: 1px solid #0f52cd !important;
}
.select2-selection__rendered,.select2-selection--single{
    height: 38px !important;
    line-height: 29px !important;
}
.select2-selection--multiple {
    max-height: auto !important;
    line-height: 29px !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #fff !important;
}
.control-group.input-group {
    margin: 8px 0;
}
.backend-image{
    height: 50px;
    width: 50px;
    border-radius: 50px;
}
.edit-image {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-top: 5px;
    background: #f1f1f1;
}

.switch {
  position: relative;
  display: inline-block;
  width: 58px;
  height: 32px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.custom-drop a {
    background: transparent;
    padding: 0;
    margin: 5px 0;
}
.custom-drop button {
    width: 100%;
    padding: 5px;
    border: 0;
    background: #F3F7F9;
    text-align: center;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
ul.nav-second-level svg {
    height: 14px;
}
.custom-btn-list button {
    background: transparent;
    border: 0;
}

.custom-btn-list button i, .custom-btn-list a i {
    color: #444;
    font-size: 16px;
}
.button-list.custom-btn-list a, .button-list.custom-btn-list button {
    margin: 3px 5px;
    padding: 0;
}
.action2-btn {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}
.action2-btn li {
    display: inline-block;
    list-style: none;
    margin: 2px 0;
}
.card-body thead {
    background: #EEF2F7;
}
form.custom_form input, form.custom_form input:focus {
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 50px;
    padding: 0 17px;
    width: 70%;
    outline: 0;
}
/*==== Pos css start == */
.quantity button, .quantity input {
    border: 0;
}
input.invdiscount {
    height: 35px;
    border-radius: 5px;
}
.qty-cart .quantity {
    position: relative;
    border: 1px solid #ddd;
    height: 35px;
    overflow: hidden;
}
.qty-cart input {
    width: 100px !important;
    text-align: center;
}
.pos_form input,.pos_form input:focus {
    border: 1px solid #ddd !important;
    padding: 8px;
    width: 100% !important;
    outline: 0 !important;
}
.quantity input {
    position: relative;
    text-align: center;
    font-size: 16px;
    height: 100%;
    width: 100%;
    pointer-events: none;
    font-weight: 500;
}
.quantity .minus {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 9;
    height: 35px;
    line-height: 35px;
    width: 35px;
    border-right: 1px solid #ddd;
    text-align: center;
    font-size: 40px;
    cursor: pointer;
}
.quantity .plus {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 9;
    height: 35px;
    line-height: 35px;
    width: 35px;
    border-left: 1px solid #ddd;
    text-align: center;
    font-size: 26px;
    cursor: pointer;
}
footer{
    margin-left: 260px;
}
#sidebar-menu .nav-second-level li a:hover {
    color: #ED145B !important;
}
@media only screen and (min-width:320px) and (max-width:767px) {
    form.custom_form {
        margin-bottom: 15px;
    }
    .action2-btn a, .action2-btn button {
        padding: 3px 12px;
    }
    .navbar-custom {
        margin-left: 0;
    }
    #sidebar-menu {
        padding: 0;
    }
    .page-title-box .page-title-right {
        display: block !important;
    }
}